@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
  height: 100%;
  width: 100%;
  color: #667f93;
  font-family: "Raleway";
  font-size: 16px;
  /* overflow-x:hidden  */
  /* scroll-behavior: smooth; */
}

/* .container {
  padding-left: -15px;
  padding-right: -15px;
  margin-right:auto;
  margin-left:auto
}

.row {
  padding-left: 15px;
  padding-right: 15px;
  margin-right:auto;
  margin-left:auto
} */

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

.navbar {
  padding: 0.8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.5em !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 200;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 0.8rem;
}

.about-me {
  font-size: 16px;
  padding: 1 rem;
  /* border-radius: 0; */
}

.jumbotron {
  background-color: rgba(#eeeff4);
}

.about-me .row {
  margin: auto;
}

.jumbotron img {
  border-radius: 50%;
  width: 200px;
  /*     transform: translate3d(100%,-50%,0); */
}
.about-me h3 {
  background-color: none;
  padding-top: 1.5em;
  padding-bottom: 0.2em;
  font-family: "Raleway";
  color: #0f283e;
  font-size: 2.8em;
  font-weight: 800;
  line-height: 0.9em;
  /* margin: 0 100px; */
  text-align: left;
  text-transform: uppercase;
}

.about-me h6 {
  font-size: 1em;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.about-me h4 {
  padding-bottom: 0.1em;
  text-transform: uppercase;
}

.about-me .lead {
  font-size: 1.5em;
  font-weight: bold;
}

.about-me p {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 30px;
  text-align: left;
  padding-bottom: 2em;
  padding-top: 2rem;
}

.about-me .fa-home {
  font-size: 2em;
  font-weight: bold;
  padding: 1em 0 0em 0%;
}

.about-me .fa-male {
  color: #667f93;
}

.infos {
  margin-top: 2em;
}

.about-me .span {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 30px;
  text-align: left;
  padding-bottom: 0;
  padding-top: 0;
}

.contactsocial a {
  font-size: 4em;
  padding: 3rem;
  /* color: #01bafd; */
  text-decoration: none;
}

.hobbiesocial a {
  font-size: 3em;
  padding: 3rem;
  /* color: #01bafd; */
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Informations {
  padding-right: 0.2em;
}

.mypadding {
  padding-bottom: 1.2rem;
}

.list-group > .list-group-item {
  border: 0;
  padding: 0.5rem;
  /* padding: 1em 0; */
  /* border-bottom-width: 1px;
  border-bottom-style: solid;  */
  text-align: left;
}

.list-group-item h6 {
  text-align: left;
}

.infos li {
  background-color: transparent;
}

.about-me .list-group {
  margin-bottom: 0;
}

/* .about-me .col-md-6 {
   padding-left: 12%; 
} */

.active-colour {
  color: #4dbfd9;
}

.mysignature {
  padding-bottom: 1rem;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 30%;
  margin: 0 !important;
}

.fixed-wrap-contact {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed-contact {
  background-image: url("img/hobbies.jpeg");
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.fixed-wrap-edu {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed-edu {
  background-image: url("img/computer-code-1.jpg");
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.fixed-wrap-work {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed-work {
  background-image: url("img/clock.jpeg");
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

#fixed2 {
  background-image: url("img/landing.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/* hr.myline{
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
} */

.about-me hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
  margin-left: 0;
}
.about-me h2 {
  color: #0f283e;
  font-size: 3.5em;
  font-weight: 800;
  line-height: 0.9em;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  padding: 0.3em;
  padding-bottom: 0.7em;
}
/**
 *
 *
/*******************************  skillbar  *******************************/

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}

/**
 *
 *
/*******************************  progresschart  *******************************/

#circlechart1 {
  margin: 20px;
  width: 100px;
  height: 100px;
  position: relative;
}

#circlechart2 {
  margin: 20px;
  width: 100px;
  height: 100px;
  position: relative;
}

#circlechart3 {
  margin: 20px;
  width: 100px;
  height: 100px;
  position: relative;
}
/**
 *
 *
/*******************************  skill  *******************************/

.skillz {
  background-color: #fff;
  padding: 2rem 3em;
  /*     padding: 20px 0 0 0; */
  /*     width: 75%;*/
  margin: 0 auto;
}

.skillz .row {
  margin: auto;
}

.skillz hr {
  border-top: 2px solid #b4b4b4;
  width: 75%;
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
}

.skillz .fa-linux {
  /* font-weight: bold; */
  color: #2163af;
  font-size: 4em;
  margin: 1rem;
}

.skillz .fa-microchip {
  font-size: 4em;
  /* font-weight: bold; */
  color: #2163af;
  margin: 1rem;
  margin-top: 3rem;
}

.skillz .fa-code {
  /* font-weight: bold; */
  color: #2163af;
  font-size: 4em;
  margin: 1rem;
}

.fa-skype {
  color: #00aced;
  font-size: 3em;
  padding-left: 2.5rem;
}

.fa-linkedin {
  color: #0077b5;
  font-size: 3em;
  padding-left: 2.5rem;
}

.fa-instagram {
  color: #fbad50;
  font-size: 3em;
  padding-left: 2.5rem;
}

.fa-envelope {
  color: #0063dc;
  font-size: 3em;
  padding-left: 2.5rem;
}

.fa-hiking {
  color: #0b5a39;
  font-size: 3em;
  padding-left: 2.5rem;
}

.fa-globe-americas {
  color: #1282c4;
  font-size: 3em;
  padding-left: 2.5rem;
}

.fa-futbol {
  color: #8acdf3;
  font-size: 3em;
  padding-left: 2.5rem;
}

.fa-film {
  color: #06254b;
  font-size: 3em;
  padding-left: 2.5rem;
}

.fa-skype:hover,
.fa-linkedin:hover,
.fa-instagram:hover,
.fa-envelope:hover,
.fa-film:hover,
.fa-globe-americas:hover,
.fa-hiking:hover,
.fa-futbol:hover {
  color: #d5d5d5;
}

.fa-code,
.fa-bold,
.fa-css3 {
  font-size: 4em;
  margin: 1rem;
}

.skillz h2 {
  color: #0f283e;
  font-size: 3.5em;
  font-weight: 800;
  line-height: 0.9em;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  padding: 0.3em;
  padding-bottom: 0.7em;
}
.skillz h6 {
  color: #667d8f;
  font-weight: 400;
  line-height: 1.8em;
  margin-bottom: 30px;
  max-width: 580px;
  font-size: 2rem;
}

.skillz h5 {
  color: #667d8f;
  font-weight: 400;
  line-height: 2em;
  margin-bottom: 70px;
  font-size: 1rem;
  text-align: left;
}

.charts {
  /* font-weight: bold; */
  font-size: 1rem;
}

/**
 *
 *
/*******************************  Jobs  *******************************/
.wexperience {
  background-color: #fff;
  padding: 20px 0 0 0;
}
.wexperience h2 {
  color: #0f283e;
  font-size: 3.5em;
  font-weight: 800;
  line-height: 0.9em;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  padding: 0.3em;
  padding-bottom: 0.7em;
}
.wexperience h6 {
  color: #667d8f;
  font-weight: 400;
  line-height: 1.8em;
  margin-bottom: 70px;
  max-width: 580px;
}
.cv-section {
  padding-bottom: 50px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 60px;
}
.cv-item {
  padding: 25px 0 5px 30px;
  border-left: 1px solid #e1e1e1;
  margin-top: -10px;
  padding-right: 20px;
}
.cv-section-title {
  padding: 15px 0;
  text-align: right;
}
.cv-section-title h1 {
  color: #01bafd;
  font-weight: 800;
  line-height: 57px;
  position: relative;
  padding-bottom: 3px;
  text-transform: uppercase;
}
.cv-section-title h3 {
  color: #0f283e;
  font-weight: 800;
  line-height: 15px;
  font-size: 1em;
}
.cv-item h3 {
  color: #0f283e;
  font-size: 1em;
  text-transform: uppercase;
}
.cv-section-title p {
  font-size: 0.8em;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.cv-section-title p,
.cv-item p {
  line-height: 30px;
}
.cv-section-title h1:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  border-bottom: 1px solid #e1e1e1;
  content: "";
}
.cv-section-title h1 span {
  position: relative;
}
.cv-section-title h1 span small {
  position: absolute;
  font-size: 0.4em;
  top: -45px;
  left: 0px;
}
.cv-item h3 {
  font-weight: 800;
  margin-top: 0;
}
.cv-section:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.cv-section-title h1,
.cv-section-title h3,
.cv-item h3 {
  margin-top: 0;
}
/**
 *
 *
/*******************************  Footer  *******************************/

.myfooter {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

.myfooter hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.myfooter span {
  font-weight: bold;
}

.myfooter h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

.contactsocial .fa-skype,
.contactsocial .fa-linkedin,
.contactsocial .fa-instagram,
.contactsocial .fa-envelope,
.contactsocial .fa-plane-departure,
.contactsocial .fa-film,
.contactsocial .fa-hiking,
.contactsocial .fa-globe-americas,
.contactsocial .fa-futbol {
  font-size: 1.5em;
}

.hobbiesocial .fa-skype,
.hobbiesocial .fa-linkedin,
.hobbiesocial .fa-instagram,
.hobbiesocial .fa-envelope,
.hobbiesocial .fa-plane-departure,
.hobbiesocial .fa-film,
.hobbiesocial .fa-hiking,
.hobbiesocial .fa-globe-americas,
.hobbiesocial .fa-futbol {
  font-size: 1.6em;
}

.contactsocial h2 {
  color: #0f283eb2;
  font-size: 2.5em;
  font-weight: 800;
  line-height: 0.9em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 1.2em;
  padding-bottom: 0.7em;
}

.hobbiesocial h2 {
  color: #0f283eb2;
  font-size: 2.5em;
  font-weight: 800;
  line-height: 0.9em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 1.2em;
  padding-bottom: 0.7em;
}

/**
 *
 *
/*******************************  Landing  *******************************/
/*--- iOS Landing Page Fix --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  background: #e9ecef;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  /* background-image: url(img/computer-1.jpg); */
  background-image: url(img/landing1.jpeg);
  /* background-image: url(img/landing2.jpeg); */
}

/******** Perspective *******/
.home-p-wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.home-bg {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ();
  background-image: url(img/computer-1.jpg);
  background-size: cover;

  /* transform: scale(1.1); */
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 30%;
  z-index: 1;
}

/* --- Bootstrap Padding Fix -- */
/* [class*="col-"] {
    padding: 1rem;
} */

/**DSP PROGRAMMING TABLEAU****/

.tableau {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
}

.tableau::after {
  content: "";
  background: #60a9ff;
  background: -moz-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
  background: -webkit-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
  background: linear-gradient(to bottom, #60a9ff 0%, #4394f4 100%);
  border-radius: 30px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 900px) {
  .tableau {
    padding: 0 0 25px;
  }
}

.tableau .container {
  margin: 0 auto;
  padding: 50px 0 0;
  max-width: 960px;
  width: 100%;
}

.tableau h4 {
  color: #0f283eb2;
  /* font-size: 3.5em; */
  font-weight: 800;
  line-height: 0.9em;
  margin: 0;
  text-transform: uppercase;
  /* padding: 0.3em;
  padding-bottom: 0.7em; */
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08),
    0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 80px;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: #016ff9;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 30px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  color: #667d8f;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #016ff9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

/********* END TABLEAU **************/

/********* Hobbies **************/

.hobbies {
  padding-top: 2em;
}

.hobbies h2 {
  color: #0f283e;
  font-size: 3.5em;
  font-weight: 800;
  line-height: 0.9em;
  text-align: left;
  text-transform: uppercase;
  padding: 0.3em;
  padding-bottom: 0.7em;
}

.cd-fixed-bg {
  min-height: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.cd-fixed-bg.hobbies {
  background-image: url("img/mountains.jpeg");
  min-height: 30%;
}

.cd-fixed-bg.skillz {
  background-image: url("img/computer-code-1.jpg");
}

.cd-fixed-bg.work {
  background-image: url("img/clock.jpeg");
}

/********* END Hobbies **************/

/*---Media Queries --*/
@media (max-width: 1200px) {
  /* .display-2 {
    font-size: 3.5em;  
  }

  .about-me h2 {
    font-size: 200%;
    text-align: center;
    padding-bottom: 1em;
  } */

  .about-me .lead {
    /* font-size: 125%;
    text-align: left; */
    padding-bottom: 2em;
  }

  .about-me p {
    padding-top: 2rem;
    /* font-weight: normal; */
  }

  .jumbotron img {
    /* border-radius: 0%; */
    padding-bottom: 2em;
  }

  .skillz .fa-microchip {
    font-size: 3em;
    font-weight: bold;
    color: #2163af;
    font-size: 4em;
    margin: 1rem;
    margin-top: 3rem;
  }
}

@media (max-width: 992px) {
  /*     .container{
        width: 970px;
        } */

  .cv-section-title h1 {
    font-size: 2rem;
  }

  .display-2 {
    font-size: 3.5em;
  }

  .about-me h2 {
    /* font-size: 200%; */
    text-align: center;
    padding-bottom: 1em;
    /* padding-top: 2em; */
  }

  .about-me .lead {
    font-size: 125%;
    text-align: left;
    padding-bottom: 2em;
  }

  .about-me p {
    padding-top: 2rem;
    font-weight: normal;
  }

  .jumbotron img {
    padding-bottom: 2em;
  }

  .contactsocial a {
    font-size: 2em;
    padding: 2rem;
  }

  .hobbiesocial a {
    font-size: 2em;
    padding: 2rem;
  }
  .carousel-caption {
    top: 50%;
  }

  .carousel-caption h1 {
    font-size: 350%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
  }

  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 200;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 0.8rem;
  }

  .skillz .fa-microchip {
    font-size: 3em;
    font-weight: bold;
    color: #2163af;
    font-size: 4em;
    margin: 1rem;
    margin-top: 3rem;
  }
}
@media (max-width: 768px) {
  /*     .container{
        width: 750px;
        }
 */

  .cv-section-title h1 {
    font-size: 2rem;
  }
  .display-2 {
    font-size: 3.5em;
  }

  .about-me h2 {
    font-size: 200%;
    text-align: center;
    padding-bottom: 1em;
  }

  .about-me .lead {
    font-size: 125%;
    text-align: left;
    padding-bottom: 2em;
  }

  .about-me p {
    padding-top: 2rem;
    font-weight: normal;
  }

  .jumbotron img {
    border-radius: 0%;
    padding-bottom: 2em;
  }

  .skillz .fa-microchip {
    font-size: 3em;
    font-weight: bold;
    color: #2163af;
    font-size: 4em;
    margin: 1rem;
    margin-top: 2rem;
  }

  .cv-item {
    padding: 25px 0 5px 30px;
    border-left: none;
    margin-top: -10px;
    padding-right: 20px;
    text-align: justify;
  }

  .cv-section {
    border-bottom: none;
  }

  .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 250%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
  }

  .carousel-caption h3 {
    font-size: 150%;
    font-weight: 200;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 0.8rem;
  }
  .fa-skype {
    color: #00aced;
    font-size: 2.5em;
    padding-left: 1rem;
  }

  .fa-linkedin {
    color: #0077b5;
    font-size: 2.5em;
    padding-left: 1rem;
  }

  .fa-instagram {
    color: #fbad50;
    font-size: 2.5em;
    padding-left: 1rem;
  }

  .fa-envelope {
    color: #0063dc;
    font-size: 2.5em;
    padding-left: 1rem;
  }

  .fa-plane-departure {
    color: #0063dc;
    font-size: 2.5em;
    padding-left: 1rem;
  }

  .fa-film {
    color: #06254b;
    font-size: 2.5em;
    padding-left: 1rem;
  }

  .wexperience h2,
  .skillz h2,
  .about-me h3 {
    font-size: 250%;
  }

  .skillz h5 {
    font-size: 150%;
    margin-bottom: 70px;
    font-size: 1rem;
    text-align: justify;
  }
}
@media (max-width: 576px) {
  /*     .skillz {
        padding: 0.5em 1em;
    } */

  .cv-section-title h1 {
    font-size: 2rem;
  }

  .panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 0px 0px;
    position: relative;
    width: 100%;
    z-index: 10;
  }

  .tableau h4 {
    color: #0f283eb2;
    font-size: 1em;
    font-weight: 500;
    line-height: 0.9em;
    margin: 0;
    text-transform: none;
    /* padding: 0.3em;
      padding-bottom: 0.7em; */
  }
  .pricing-features {
    color: #016ff9;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 30px 0 25px;
  }

  .pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 50%;
    line-height: 1.5;
    padding: 15px 0;
    color: #667d8f;
    text-align: left;
  }

  .pricing-table {
    min-width: 110px;
  }

  .pricing-img {
    margin-bottom: 25px;
    max-width: 60px;
  }

  .tableau::after {
    content: "";
    background: #60a9ff;
    background: -moz-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
    background: -webkit-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
    background: linear-gradient(to bottom, #60a9ff 0%, #4394f4 100%);
    border-radius: 30px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    min-width: 160px;
    z-index: 1;
  }

  .caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 25%;
    z-index: 1;
  }

  .display-2 {
    font-size: 3.5em;
  }

  .about-me h2 {
    font-size: 200%;
    text-align: center;
    padding-bottom: 1em;
  }

  .about-me .lead {
    font-size: 125%;
    text-align: left;
    padding-bottom: 2em;
  }

  .about-me p {
    padding-top: 2rem;
    font-weight: normal;
  }

  .jumbotron img {
    border-radius: 0%;
    padding-bottom: 2em;
  }

  .skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    font-weight: normal;
    font-size: 11px;
    color: #ffffff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .skillz .fa-microchip {
    font-size: 3em;
    font-weight: bold;
    color: #2163af;
    font-size: 4em;
    margin: 1rem;
  }

  .skillz h5 {
    font-size: 100%;
    margin-bottom: 70px;
    font-size: 1rem;
    text-align: justify;
  }

  .cv-item {
    padding: 25px 0 5px 30px;
    border-left: none;
    margin-top: -10px;
    padding-right: 20px;
    text-align: justify;
  }

  .cv-section {
    border-bottom: none;
  }

  .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 140%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
  }

  .carousel-caption h3 {
    font-size: 90%;
    font-weight: 200;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 0.8rem;
  }
  .fa-skype {
    color: #00aced;
    font-size: 2.5em;
    padding-left: 0.5rem;
  }

  .fa-linkedin {
    color: #0077b5;
    font-size: 2.5em;
    padding-left: 0.5rem;
  }

  .fa-instagram {
    color: #fbad50;
    font-size: 2.5em;
    padding-left: 0.5rem;
  }

  .fa-envelope {
    color: #0063dc;
    font-size: 2.5em;
    padding-left: 0.5rem;
  }
}
